@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Montserrat:ital,wght@0,100;0,400;1,200&family=Poppins:wght@100;200;300&display=swap');
body{
    width:max-content;
    margin: auto;
    background-color:rgb(168, 161, 161);
    font-family: 'IBM Plex Sans', sans-serif;
}
td{
    font-size: 12px;
    font-weight: 300;
    color:#02475b
   
}
tr{
    font-size: 13px;
    font-weight: 600;
    color: #01475b;
}
.notfooter{
    width: 1000px;
    background-color: white;

    width: 1000px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.top {
    display: flex;
    justify-content:space-evenly;
    background-color:white;
}
table{

    margin-left:170px;
    width: 300px;
    height:70px;


    justify-content: space-evenly;
    background-color: white;
}

table {
    margin-left: 170px;
}
.logo{
    margin-right:70px;
    margin-top:10px;
}
.cart{
    margin-right:-90px;
}
.profile{
    margin-right:-100px;
}
.logo{
    margin-left: -70px;
    margin-top: 10px;
}

.cart {
    margin-right: -100px;
}

.profile {
    margin-right: -150px;
}

h1 {
    margin-left: 60px;
}

.hello {
    display: flex;
    background-color: white;
    overflow: hidden;
}
.slider{
    margin-top:40px;
    background-color: white;
    width:900px;
    height:160px;
    overflow:scroll;
}
button {
    width: 350px;
    height: 60px;
}

.button {
    width: 175px;
    height: 60px;
}

.slider {
    width: 950px;
    height: 166px;
    overflow: scroll;
    background-color: black;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    margin-left:20px;
    border-radius: 5px;
}

button{
    width:350px;
    height:60px;
}

.hello .left .button{
    display:inline;
    width:160px;
    height:60px;
}
#vaccinationquery {
    background-color: white;
    width: 910px;
    height: 126px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 40px;
    margin-right: 
}

#vaccinationquery>h3 {
    color: #26b797;
    margin-left: 20px;
}

.queryicons {
    width: 20px;
    height: 20px;
    display: block;
    
}

#subvaccinationquery {
    margin-top: -30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: center;
}

#subvaccinationquery>div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 2px 10px;
    margin: 20px;
    border-radius: 10px;
    width: 150px;
    height: 41px;
}

#subvaccinationquery>div>p {
    margin-bottom: 10px;
    margin-left: 5px;
    color: orange;
    font-size: smaller;
}

#discover {
    width:950px;
    height: 160px;
    display: block;
    margin:10px 30px 50px 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#health {
    background-image: url(https://newassets.apollo247.com/images/ecosystem-banner.jpg);
    width:850px;
    background-repeat: repeat-x;
    padding: 30px;
    margin: auto;
    /* margin-left: 300px; */
    display: flex;
    justify-content: space-between;
}

#health>div>h1,
p {
    margin: 10px;
    color: white;
    font-weight: 800;
}

#tablet {
    float: right;
}

a {
    text-decoration: none;
    color: #fc9916;
    font-weight: 1100px;
    margin-top: 10px;
    font-size: 16px;
}
.a{
    font-size: 12px;
    font-weight: 300;
    color:#02475b;
}

.healthblog {
    width:900px;
    margin: auto;
}

.healthblog>p {
    margin-left: 20px;
    color: #07Ae8B;
}

.healthblog>div>div {
    width:170px;
    height: 45px;
    display: flex;
    justify-content: space-evenly;
}

#underline {
    display: flex;
    margin: 10px;
    justify-content: space-between;
    border-bottom: 1px dashed gray;
}

.healthblog>div>p {
    color: #01475B99;
} 
.footer{
    width: 1000px;
    background-color: white;
   
    color: black; 
}

.foothead{
    font-size: 14px; 
    font-weight: 700;
    color: black;
}
.footer p{
    color: rgb(138, 135, 135);
}
.footer2 {
    width: 1000px;
    background-color: rgb(0, 0, 0);
    
}
.footer2head{
    color: #fc9916;
}
.footerlogo{
    width:100px;
    height:77px;
    margin-left:400px;
}
.shouldbeinline li {
    display: inline;
    color: white;
    margin-left: 10px;

}
span{
    color:white;
    width: 5px;
    height: 5px;
}
.slider .img {
    margin: 10px;
    margin-top: -10px;
    
}
